{{ $series := slice }}
{{ if isset .Params "series" }}
    {{ $postMainSeries := (index .Params.series 0) }}
    {{ $series = (where .Site.RegularPages "Params.series" "intersect" (slice $postMainSeries)).ByDate }}
    {{ $seriesLen := $series | len }}
    {{ if gt $seriesLen 1 }}
    <div class="series-container">
        <h4>Posts in this series:</h4>
        <ul class="series-list">
            {{- range $post := $series -}}
                {{ if eq $post.Permalink $.Page.Permalink }}
                <li class="active">{{ $post.Params.title }}</li>
                {{ else }}
                <li><a href="{{$post.RelPermalink}}">{{ $post.Params.title }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
    {{ end }}
{{ end }}
